$lightGrey : rgb(239, 239, 239);
$darkGrey : rgb(102, 102, 102);
$grey : rgb(203, 203, 203);
// $orange : rgb(250, 99, 55);
$orange: #ffb729;
$red : rgb(219, 68, 55);
$green : rgb(15, 157, 88);

/** 
 *  SIZING
 */
$SynthControlsHeight: 120px;